
.main-container {
    min-height: 70vh;
    background:url(https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80);
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 4.3em;
    .main-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    }
    .dark-overlay {
        background-color: $dark-overlay;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        min-height:70vh;
        margin-top: 4.3em;
    }
    .main-header {
        font-family: $font-family;
        font-weight: 800;
        font-size: 5rem;
        margin-bottom: 1.5rem;
    }
    #jobSearch {
     width: 26em;
     padding: .8em;
     border-radius: .2rem;
     border: white solid 1px;
    }
    .btn {
     font-family: $font-family;
     font-weight: 700;
     background-color: $dark-orange;
     margin-left: 1.5rem;
     padding: 0 4rem;
     border-radius: .2rem;
    }
}

@media screen and (max-width: 1024.98px) {
    .main-container{
        min-height: 40vh;
        .main-inner {
            min-height: 40vh;
        }
        .dark-overlay {
            min-height: 40vh;
        }
        .main-header {
            font-size: 4.3rem;
            font-weight: 700;
        }
        #jobSearch {
            width: 22em;
            padding: .7em;
            border-radius: .2rem;
            border: white solid 1px;
           }
           .btn {
            font-family: $font-family;
            font-weight: 600;
            background-color: $dark-orange;
            margin-left: 1.5rem;
            padding: 0 3rem;
            border-radius: .2rem;
           }
    }

}


@media screen and (max-width: 576.98px) {
    .main-container{
        min-height: 70vh;
        .main-inner {
            min-height: 70vh;
        }
        .dark-overlay {
            min-height: 70vh;
        }
        .main-header {
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.2;
        }
        #jobSearch {
            width: 22em;
            padding: .6em;
            border-radius: .2rem;
            border: white solid 1px;
           }
           .btn {
            font-family: $font-family;
            font-weight: 600;
            background-color: $dark-orange;
            margin-top: 1.5rem;
            margin-left: 0;
            padding: .6rem;
            width: 22em;
            border-radius: .2rem;
           }
    }

}


@media screen and (max-width: 480.98px) {
    .main-container{
        min-height: 70vh;
        .main-inner {
            min-height: 70vh;
        }
        .dark-overlay {
            min-height: 70vh;
        }
        .main-header {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.2;
        }
        #jobSearch {
            width: 18em;
            padding: .6em;
            border-radius: .2rem;
            border: white solid 1px;
           }
           .btn {
            font-family: $font-family;
            font-weight: 600;
            background-color: $dark-orange;
            margin-top: 1.5rem;
            margin-left: 0;
            padding: .6rem;
            width: 18em;
            border-radius: .2rem;
           }
    }

}

@media screen and (max-width: 290px) {
    .main-container{
        min-height: 70vh;
        .main-inner {
            min-height: 70vh;
        }
        .dark-overlay {
            min-height: 70vh;
        }
        .main-header {
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.2;
        }
        #jobSearch {
            width: 15em;
            padding: .6em;
            border-radius: .2rem;
            border: white solid 1px;
           }
           .btn {
            font-family: $font-family;
            font-weight: 600;
            background-color: $dark-orange;
            margin-top: 1.5rem;
            margin-left: 0;
            padding: .6rem;
            width: 15em;
            border-radius: .2rem;
           }
    }

}