@import "variables";
@import "nav";
@import "main";
@import "jobs";
@import "pagination";
@import "footer";
@import "jobDetails";
@import "apply";

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

  

       


